#### Importing the required libraries and Loading the Data

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Dell\Downloads\data.csv")

In [3]:
df

,Unnamed: 0,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText,feedback,Helpfulness
0,0,0006641040,AYZ0PR5QZROD1,Mother of 3 girls,3,3,5,1173312000,Family favorite,All of my children love this book. My first ...,positive,>75%
1,1,0006641040,A3CMRKGE0P909G,Teresa,3,4,5,1018396800,A great way to learn the months,This is a book of poetry about the months of ...,positive,25-75%
2,2,0006641040,A1DJXZA5V5FFVA,A. Conway,0,0,5,1338249600,Must have.,I set aside at least an hour each day to read...,positive,useless
3,3,0006641040,AJ46FKXOVC7NR,Nicholas A Mesiano,2,2,5,940809600,This whole series is great way to spend time ...,I can remember seeing the show when it aired ...,positive,>75%
4,4,0006641040,A2ONB6ZA292PA,Rosalind Matzner,0,0,5,1313884800,Chicken soup with Rice,It's a great book with adorable illustrations...,positive,useless
...,...,...,...,...,...,...,...,...,...,...,...,...
568162,568449,B009UOFTUI,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product an...,"This coffee supposedly is premium, it tastes ...",negative,useless
568163,568450,B009UOFU20,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product an...,"This coffee supposedly is premium, it tastes ...",negative,useless
568164,568451,B009UUS05I,ARL20DSHGVM1Y,Jamie,0,0,5,1331856000,Perfect,The basket was the perfect sympathy gift when...,positive,useless
568165,568452,B009WSNWC4,AMP7K1O84DH1T,ESTY,0,0,5,1351209600,DELICIOUS,Purchased this product at a local store in NY...,positive,useless
568166,568453,B009WVB40S,A3ME78KVX31T21,K'la,0,0,5,1351123200,Tasty!,I purchased this to send to my son who's away...,positive,useless

#### Removing the unwanted columns

In [4]:
df.drop(labels = 'Unnamed: 0', axis = 1, inplace = True)

In [6]:
df.reset_index(drop=True,inplace=True)
df.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText,feedback,Helpfulness
0,0006641040,AYZ0PR5QZROD1,Mother of 3 girls,3,3,5,1173312000,Family favorite,All of my children love this book. My first ...,positive,>75%
1,0006641040,A3CMRKGE0P909G,Teresa,3,4,5,1018396800,A great way to learn the months,This is a book of poetry about the months of ...,positive,25-75%
2,0006641040,A1DJXZA5V5FFVA,A. Conway,0,0,5,1338249600,Must have.,I set aside at least an hour each day to read...,positive,useless
3,0006641040,AJ46FKXOVC7NR,Nicholas A Mesiano,2,2,5,940809600,This whole series is great way to spend time ...,I can remember seeing the show when it aired ...,positive,>75%
4,0006641040,A2ONB6ZA292PA,Rosalind Matzner,0,0,5,1313884800,Chicken soup with Rice,It's a great book with adorable illustrations...,positive,useless

In [7]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

ProductId                 0
UserId                    0
ProfileName               0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Time                      0
ReviewSummary             0
ReviewText                0
dtype: int64

#### Identifying Target Variable

In [13]:
x=df[["ReviewText","ReviewSummary"]]

In [14]:
y=df[["feedback"]]

In [15]:
import sklearn

#### splitting the data into train data and test data

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, train_size=0.75, random_state=100)

In [17]:
X_train

,ReviewText,ReviewSummary
40586,In the search for a more natural and less was...,"Good, but........"
459101,These are hands down the best roasted and sal...,THE BEST!
180152,This made a nice bread but there were no rais...,Not as advertised
138326,These are my favorite! Hazelnut cream locked...,schoko-wonderful!
111569,I have tried several different dark chocolate...,By Far the Best Green Tea Dark Chocolate
...,...,...
344588,I bought the pack of 6 because I'd like to ta...,Love it!
213012,I've tried quite a few different energy drink...,Best Energy Drink I've Found
65652,We bought this as a replacement for eggs to t...,Tastes like eggs
210855,Great combination of nuts and raisins. Just t...,Excellent Pick You Up Snack
56120,Very disappointed to receive a case of food p...,STALE

In [18]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(426125, 2) (426125, 1)
(142042, 2) (142042, 1)

`Text preprocessing'
* converting to lower cases
*  Removing special characters
* Removing stop words
* lemmatization

In [19]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [20]:
stemmer = PorterStemmer()

In [21]:
lemmatizer = WordNetLemmatizer()

In [22]:
X_train=X_train.applymap(lambda s :s.lower() if type(s)==str else s)

In [23]:
y_train=y_train.applymap(lambda s :s.lower() if type(s)==str else s)

In [24]:
X_test=X_test.applymap(lambda s :s.lower() if type(s)==str else s)

In [25]:
y_test=y_test.applymap(lambda s :s.lower() if type(s)==str else s)

In [26]:
def striphtml(data):
    p = re.compile(r'<.*?>hhtp//+s|www\.\S+')
    return p.sub('', data)
X_train["ReviewText"]=X_train["ReviewText"].apply(lambda data:striphtml(data))

In [27]:
X_train["ReviewSummary"]=X_train["ReviewSummary"].apply(lambda data:striphtml(data))
X_test["ReviewText"]=X_test["ReviewText"].apply(lambda data:striphtml(data))
X_test["ReviewSummary"]=X_test["ReviewSummary"].apply(lambda data:striphtml(data))

In [28]:
import string
punct_to_remove=string.punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('','',punct_to_remove))
X_train["ReviewText"]=X_train["ReviewText"].apply(lambda text: remove_punctuation(text))

In [29]:
X_train["ReviewSummary"]=X_train["ReviewSummary"].apply(lambda text: remove_punctuation(text))
X_test["ReviewText"]=X_test["ReviewText"].apply(lambda text: remove_punctuation(text))
X_test["ReviewSummary"]=X_test["ReviewSummary"].apply(lambda text: remove_punctuation(text))

In [30]:
def preprocess(raw_text, flag):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)
    
    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()
    
    # remove stop words                
    clean_tokens = [t for t in tokens if not t in stopwords.words("english")]
    
    # Stemming/Lemmatization
    if(flag == 'stem'):
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]
    
    return pd.Series([" ".join(clean_tokens), len(clean_tokens)])

In [31]:
from tqdm import tqdm, tqdm_notebook
tqdm.pandas()

In [32]:
import nltk
nltk.download('stopwords')
import nltk
nltk.download('wordnet')
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [33]:
X_train["final"] = X_train["ReviewText"] + X_train["ReviewSummary"]
X_train.head()

,ReviewText,ReviewSummary,final
40586,in the search for a more natural and less was...,good but,in the search for a more natural and less was...
459101,these are hands down the best roasted and sal...,the best,these are hands down the best roasted and sal...
180152,this made a nice bread but there were no rais...,not as advertised,this made a nice bread but there were no rais...
138326,these are my favorite hazelnut cream locked ...,schokowonderful,these are my favorite hazelnut cream locked ...
111569,i have tried several different dark chocolate...,by far the best green tea dark chocolate,i have tried several different dark chocolate...

In [34]:
%%time
#temp_df = X_train['ReviewSummary'].progress_apply(lambda x: preprocess(x, 'lemma'))

#temp_df.head()
temp_df1 = X_train['final'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df1.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 426125/426125 [54:04<00:00, 131.34it/s]

CPU times: user 47min 40s, sys: 6min 11s, total: 53min 52s
Wall time: 54min 4s

                                                        0    1
40586   search natural le wasteproducing cat litter st...  338
459101  hand best roasted salted almond addictive yet ...    9
180152  made nice bread raisin didnt say add raisin ei...   21
138326  favorite hazelnut cream locked shell chocolate...   13
111569  tried several different dark chocolate infused...   16

In [35]:
temp_df1.columns = ['clean_text_lem', 'text_length_stem']

temp_df1.head()

                                           clean_text_lem  text_length_stem
40586   search natural le wasteproducing cat litter st...               338
459101  hand best roasted salted almond addictive yet ...                 9
180152  made nice bread raisin didnt say add raisin ei...                21
138326  favorite hazelnut cream locked shell chocolate...                13
111569  tried several different dark chocolate infused...                16

In [36]:
X_train = pd.concat([X_train, temp_df1], axis=1)

X_train.head()

,ReviewText,ReviewSummary,final,clean_text_lem,text_length_stem
40586,in the search for a more natural and less was...,good but,in the search for a more natural and less was...,search natural le wasteproducing cat litter st...,338
459101,these are hands down the best roasted and sal...,the best,these are hands down the best roasted and sal...,hand best roasted salted almond addictive yet ...,9
180152,this made a nice bread but there were no rais...,not as advertised,this made a nice bread but there were no rais...,made nice bread raisin didnt say add raisin ei...,21
138326,these are my favorite hazelnut cream locked ...,schokowonderful,these are my favorite hazelnut cream locked ...,favorite hazelnut cream locked shell chocolate...,13
111569,i have tried several different dark chocolate...,by far the best green tea dark chocolate,i have tried several different dark chocolate...,tried several different dark chocolate infused...,16

#### Converting Text to Numerical vectors -BOW Representation

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

vocab = CountVectorizer()

X_train_bow = vocab.fit_transform(X_train['clean_text_lem'])

In [38]:
print("Total unique words:", len(vocab.vocabulary_))

print("Type of train features:", type(X_train_bow))

print("Shape of input data:", X_train_bow.shape)

Total unique words: 169709
Type of train features: <class 'scipy.sparse.csr.csr_matrix'>
Shape of input data: (426125, 169709)

In [39]:
X_test.head()

,ReviewText,ReviewSummary
538563,i wasnt sure if i was gonna like these until ...,yummy
428538,with 190 calories for a six cracker packet wi...,fantastic snack
25200,this product is exactly what it is described ...,trying new foods
328014,after trying numerous brands of cat food i fi...,only wet food my kitties eat and only chicken
73163,i love this product very much normally chips ...,no salt added

In [40]:
X_test["final"] = X_test["ReviewText"] + X_test["ReviewSummary"]
X_test.head()

,ReviewText,ReviewSummary,final
538563,i wasnt sure if i was gonna like these until ...,yummy,i wasnt sure if i was gonna like these until ...
428538,with 190 calories for a six cracker packet wi...,fantastic snack,with 190 calories for a six cracker packet wi...
25200,this product is exactly what it is described ...,trying new foods,this product is exactly what it is described ...
328014,after trying numerous brands of cat food i fi...,only wet food my kitties eat and only chicken,after trying numerous brands of cat food i fi...
73163,i love this product very much normally chips ...,no salt added,i love this product very much normally chips ...

In [41]:
temp_df = X_test['final'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 142042/142042 [17:44<00:00, 133.47it/s]

                                                        0   1
538563  wasnt sure gonna like received free sample fel...  19
428538  calorie six cracker packet pepper jack great s...  35
25200   product exactly described arepas need made cor...  37
328014  trying numerous brand cat food finally found b...  28
73163   love product much normally chip salty product ...  18

In [42]:
temp_df.columns = ['clean_text_lemma', 'text_length_stem']

temp_df.head()

                                         clean_text_lemma  text_length_stem
538563  wasnt sure gonna like received free sample fel...                19
428538  calorie six cracker packet pepper jack great s...                35
25200   product exactly described arepas need made cor...                37
328014  trying numerous brand cat food finally found b...                28
73163   love product much normally chip salty product ...                18

In [43]:
X_test = pd.concat([X_test, temp_df], axis=1)

X_test.head()

,ReviewText,ReviewSummary,final,clean_text_lemma,text_length_stem
538563,i wasnt sure if i was gonna like these until ...,yummy,i wasnt sure if i was gonna like these until ...,wasnt sure gonna like received free sample fel...,19
428538,with 190 calories for a six cracker packet wi...,fantastic snack,with 190 calories for a six cracker packet wi...,calorie six cracker packet pepper jack great s...,35
25200,this product is exactly what it is described ...,trying new foods,this product is exactly what it is described ...,product exactly described arepas need made cor...,37
328014,after trying numerous brands of cat food i fi...,only wet food my kitties eat and only chicken,after trying numerous brands of cat food i fi...,trying numerous brand cat food finally found b...,28
73163,i love this product very much normally chips ...,no salt added,i love this product very much normally chips ...,love product much normally chip salty product ...,18

In [44]:
X_test_bow = vocab.transform(X_test['clean_text_lemma'])

#### Building and Evaluating model

#### logistic Regression

In [83]:
%%time
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_bow, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

CPU times: user 54 s, sys: 29 s, total: 1min 23s
Wall time: 52.1 s

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [84]:
y_test_pred_log = classifier.predict(X_test_bow)

In [85]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test, y_test_pred_log))

print(classification_report(y_test, y_test_pred_log))

0.8882584024443474
              precision    recall  f1-score   support

    negative       0.78      0.75      0.76     20522
     neutral       0.57      0.35      0.43     10750
    positive       0.92      0.97      0.94    110770

    accuracy                           0.89    142042
   macro avg       0.76      0.69      0.71    142042
weighted avg       0.88      0.89      0.88    142042

#### Navie Bayes classifier

In [48]:
%%time
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train_bow, y_train)
y_pred_class_nb = nb.predict(X_test_bow)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

CPU times: user 2.07 s, sys: 11.2 ms, total: 2.09 s
Wall time: 2.08 s

In [49]:
from sklearn import metrics
NB=metrics.accuracy_score(y_test, y_pred_class_nb)
print(NB)

0.8598794722687656

#### Decision Tree Classifer

In [50]:
%%time
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train_bow, y_train)

CPU times: user 26min 32s, sys: 999 ms, total: 26min 33s
Wall time: 26min 36s

DecisionTreeClassifier()

In [81]:
y_pred_dt= classifier.predict(X_test_bow)

In [82]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test, y_pred_dt))


print(classification_report(y_test, y_pred_dt))

0.8690809760493375
              precision    recall  f1-score   support

    negative       0.71      0.69      0.70     20522
     neutral       0.57      0.49      0.53     10750
    positive       0.92      0.94      0.93    110770

    accuracy                           0.87    142042
   macro avg       0.74      0.71      0.72    142042
weighted avg       0.86      0.87      0.87    142042

#### support vector classifier

In [53]:
%%time
from sklearn import svm
lrsvc = svm.LinearSVC()
# train the model using X_train_dtm
lrsvc.fit(X_train_bow, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

CPU times: user 5min 35s, sys: 333 ms, total: 5min 35s
Wall time: 5min 35s

/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [74]:
y_pred_1= lrsvc.predict(X_test_bow)

In [78]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test, y_pred_1))


print(classification_report(y_test, y_pred_1))

0.8942636684924178
              precision    recall  f1-score   support

    negative       0.79      0.77      0.78     20522
     neutral       0.62      0.41      0.49     10750
    positive       0.93      0.97      0.95    110770

    accuracy                           0.89    142042
   macro avg       0.78      0.71      0.74    142042
weighted avg       0.89      0.89      0.89    142042

#### AdaBoostClassifier

In [91]:
%%time
from sklearn.ensemble import AdaBoostClassifier
boost=AdaBoostClassifier()
boost.fit(X_train_bow, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

CPU times: user 1min 42s, sys: 335 ms, total: 1min 43s
Wall time: 1min 45s

AdaBoostClassifier()

In [92]:
y_pred_boost= boost.predict(X_test_bow)

In [93]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test, y_pred_boost))


print(classification_report(y_test, y_pred_boost))

0.8256642401543206
              precision    recall  f1-score   support

    negative       0.67      0.42      0.51     20522
     neutral       0.47      0.11      0.18     10750
    positive       0.85      0.97      0.91    110770

    accuracy                           0.83    142042
   macro avg       0.66      0.50      0.53    142042
weighted avg       0.79      0.83      0.79    142042

#### Support vector classifier got the more accuracy from the above models followed by Logistic Regression .
#### But Logistic Regression  got  less time when compared with SVC 
#### From the all above Models Navie Bayes Classifier took less time to execute